test/tests/repro_dash/src/index.static.pug
html
head
  script(src="./index.js")
  link(rel="stylesheet", href="./index.css")
  title Dash
body
  h1 Dash
  section.QuickLinks__Container
    div.QuickLinks__Link(href="https://gitlab.com/")
      span.QuickLinks__Text GitLab
      img.QuickLinks__Icon(src="./gitlab-icon-rgb.svg")
    div.QuickLinks__Link
      span.QuickLinks__Text TiddlyWiki
      div.QuickLinks__Icon
        img(src="./tiddlywiki.png")

test/tests/repro_dash/dist/index.html
<!DOCTYPE js><html></html><head><script src="./index.js"></script><link rel="stylesheet" href="./index.css"/><title>Dash</title></head><body><h1>Dash</h1><section class="QuickLinks__Container"><div class="QuickLinks__Link" href="https://gitlab.com/"><span class="QuickLinks__Text">GitLab</span><img class="QuickLinks__Icon" src="/0faea8c818899e58533e153c44b10517.svg"/></div><div class="QuickLinks__Link"><span class="QuickLinks__Text">TiddlyWiki</span><div class="QuickLinks__Icon"><img src="/19517b91d466f6120ec3205f5215397d.png"/></div></div></section></body>
